
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">View</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let producto of productos'>
      <td>{{producto.id}}</td>
      <td>{{producto.name}}</td>
      <td>{{producto.price}}</td>
      <td><button class="btn btn-outline-primary" routerLink='/detalle/{{producto.id}}'><i class="fas fa-edit"></i>View</button></td>
      <td><button class="btn btn-outline-warning" routerLink='/editar/{{producto.id}}'><i class="fas fa-edit"></i>Update</button></td>
      <td><button class="btn btn-outline-danger" (click)='borrar(producto.id)'><i class="fas fa-trash-alt"></i>Delete</button></td>

  </tbody>
</table>
